# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\João Gabriel Fiuza\go\src\github.com\jgfiuza\golang-bootcamp\level5\02_productInventory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
